<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3>How to create and select players from Visual Pinball</h3>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-12">
            <p>A default menu for VP is provided in an aim to make player selection "In Game" rather than external applications (windows)</p>
            <p>The player menu can be accessed by pushing both Flipper buttons.</p>
            <ul>
                <li>The Flips controller or any script calls will not be posted to the server unless players have been added beforehand.</li>
                <li>The menu is disabled when a game is started and enabled again to use again when a game is finished.</li>
                <li>If you were hot seating with 2 players on your machine then the selections would only need to be made once and can be reused in the same game.</li>
                <li>Players can be cleared from selections if you decide to play the game without scoring instead of restarting the game, exiting VP</li>
            </ul>            
        </div>

        <div class="col-12">
            <img src="/img/player-menu-objects.jpg" class="img-fluid img-fluid"/>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />

</div>