@page "/help/about"

<Microsoft.AspNetCore.Components.Web.Extensions.Head.Title Value="@($"Help / About - Flipping Flips")" />

<div class="container mt-3">

    <div class="row">
        <div class="col-12 text-center">
            <h1>About...</h1>
        </div>
    </div>

    <hr />

    <div class="row mb-2">
        <div class="col-12">
            <h3>What is this?</h3>
        </div>
        <div class="col-12">
            A game logger, score keeper for homebrew pinball games.
        </div>
    </div>
    <hr />

    <div class="row mb-2">
        <div class="col-12">
            <h3>Who is it for?</h3>
        </div>
        <div class="col-12">
            Players that are interested in keeping score when playing virtual pinball simulations or for authors of these games to implement an online score log.<br/>
            This isn't intended as a High Score leaderboard but that's entirely up to you.<br />            
        </div>
    </div>
    <hr />

    <div class="row mb-2">
        <div class="col-12">
            <h3>What pinball games are compatible?</h3>
            <ul>
                <li>VP Originals</li>
                <li>VP EMs</li>
                <li>VP PinMame</li>
            </ul>

            Future Pinball may work but this is untested.
        </div>
    </div>
    <hr />
</div>
